<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    
    <connectionStrings>
        <add name="LoyaltySystemDB" 
             connectionString="Data Source=localhost;Initial Catalog=LoyaltySystemDB;Integrated Security=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="PointsPerDollar" value="1" />
        <add key="CompanyName" value="Supermercado Fidelidad" />
        <add key="SystemVersion" value="1.0.0" />
    </appSettings>
</configuration>
